.container-table{
    width: 100%;
    overflow: auto;
}

.table-crud{
    border-collapse: collapse;
    overflow-x: auto ;
    width: 100%;
    text-align: left;
    background-color: white;
    min-width: 540px;
}
.table-crud thead{
    background-color: black;
    color: white;
}

.table-crud th:nth-child(1){
    width: 35%;
}
.table-crud th:nth-child(1){
    width: 35%;
}
.table-crud th:nth-child(3){
    width: 15%;
}
.table-crud th:nth-child(4){
    width: 15%;
}


.table-crud tr th{
    padding: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.table-crud tr td{
    padding: 12px;
    border-bottom: 1px solid grey;
    font-size: 1.1rem;
    word-break: break-all;
}

.btn-crud{
    cursor: pointer;
    font-size: 1.5rem;
    margin: 0px 5px;
}
.update{
    color: orange;
}
.update:hover{
    color: rgb(255, 182, 46);
}
.delete{
    color: red;
}
.delete:hover{
    color: rgb(255, 29, 29);
}