a{
    text-decoration: none;
}
.btn-cv{
    outline: none;
    border: none;
    width: 200px;
    font-weight: 800;
    cursor: pointer;
    color: white;
    background-color: brown;
    text-align: center;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: all 0.3s ease-in;
}
.btn-cv:hover{
    background-color: rgb(252, 19, 19);
    color: white;
}
.mobile{
    display: block;
}
.desktop{
    display: none;
}
.dark .btn-cv{
    color: white;
}
@media screen and (max-width: 320px) {
    .btn-cv{
        font-size: 1rem;
        padding: 0.8rem;
    }
}

@media screen and (min-width: 321px) {
    .btn-cv{
        padding: 1rem;
    }
}

@media screen and (min-width:769px) {
    .btn-cv{
        font-size: 1.25rem;
        margin-left: 0;
        margin-right: 0;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: block;
    } 
}