.error404{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.descriptions{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}
.title_404{
    color: orange;
    line-height:calc(10rem + 1vh);
    font-size: calc(10rem + 1vh);
}
.not_found{
    font-size: calc(2rem + 1vh);
    margin-bottom: 1rem;

}
.description_error{
    line-height: 1.8rem;
    font-size: calc(1.2rem + 1vh);
}

.btn_home{
    background-color: orange;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 120px;
    padding: 0.5rem;
    font-size: 1.4rem;
    border-radius: 8px;
    transition: all 0.2s ease-in-out;
}
.btn_home:hover{
    background-color: rgb(184, 120, 3);
}

@media screen and (max-width:375px) {
    .title_404{
        font-size: calc(9rem + 1vh);
    }
    .not_found{
        font-size: calc(1.8rem + 1vh);
        margin-bottom: 1rem;
    }
    .description_error{
        font-size: calc(1rem + 1vh);
    }
}