#skill{
    min-height: 100vh;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.section-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: calc(100% - 2rem);
}

.container-skill{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    width: 100%;
}
.subcontainer-skill{
    background-color: white;
    color: black;
    border-radius: 6px;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    padding: 1rem;
}
.title-subcontainer{
    text-align: center;
    font-weight: 600;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: calc(1.1rem + 1vh);
    color:rgb(29, 31, 27);
}
.card-subcontainer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    text-align: center;
    flex: 100%;
}
.imgagen-logo{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: calc(5.5rem + 1vh);
}
.title-logo{
    font-size: calc(1rem + 1vh);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 500;
}
.light .subcontainer-skill{
    background-color: rgb(29, 31, 27);
}
.light .title-subcontainer{
    color: white;
}
@media screen and (max-width: 374px){
    .card-subcontainer{
        gap: 1rem;
    }
    .imgagen-logo{
        font-size: calc(4rem + 1vh);
    }
}
@media screen and (min-width: 375px) {
    .card-subcontainer{
        gap: 0.5rem;
    }
    .card_content{
        flex-direction: column;
    }
    .title-skill{
        font-size: calc(1.5rem + 1vh);
    }
    .card_description{
        text-align: center;
        gap: 1rem;
    }
}

@media screen and (min-width: 575px){
    .container-skill{
        grid-template-columns: 1fr 1fr;
    }
    #skill{
        padding-top: 5rem;
    }
    .card_content{
        flex-direction: row;
    }
    .card_description{
        text-align: left;
    }
    .card-skill{
        padding: 0.8rem 0.5rem;
    }
}
@media screen and (min-width: 975px) {
    #skill{
        padding-top: 5rem;
    }
    .container-skill{
        grid-template-columns: repeat(3,minmax(0,1fr));
    }
    .card_description{
        width: 100%;
    }
    .title-skill{
        font-size: 2rem;
    }
    .description_nivel{
        font-size: 1.1rem;
    }
    .text_nivel{
        font-weight: 1.2rem;
        font-weight: 800;
    }
}
@media screen and (min-width: 1024px){
    #skill{
        padding-top: 4.5rem;
    }
    .title-skill{
        font-size: 2rem;
        line-height: 2rem;
    }
    .card_description{
        justify-content: center;
        gap: 0.5rem;
    }
}