
#home{
    min-height: 100vh;
    padding-top: 3.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-home{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}
.container-presentation{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.text_title{
    text-align: center;
    line-height: 2rem;
    color: white;
}

.text_description{
    text-align: justify;
    font-size: calc(1rem + 1vh);
    color: white;
}
.container_img_author{
    min-width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.img_author{
    margin-bottom: 1rem;
    border: 8px solid rgb(29, 31, 27); 
    background-color: rgb(29, 31, 27);
}
/*Modo light*/

.light .text_title{
    color: brown;
}
.light .text_description{
    color: rgb(29, 31, 27);
}
.light .container-loding-thema{
    background-color: rgb(29, 31, 27);
    display: flex;
    border-radius: 50%;    
}
@media screen and (max-width: 320px) {
    .text_title{
        font-size: 1.8rem;
    }
    .img_author{
        max-width: 200px;
        border-radius: 8px;
        animation: img_autor 2s infinite alternate;
    }
}
@media screen and (min-width: 321px) {
    .text_title{
        font-size: calc(1.8rem + 1vh);
        line-height: 2.1rem;
    }

    .text_description{
        font-size: calc(1.1rem + 1vh);
    }
    .img_author{
        max-width: 260px;
        border-radius: 8px;
        margin-bottom: 0.5rem;
    }
}
@media screen and (min-width:769px) {
    .container{
        margin-left: auto;
        margin-right: auto;
    }
    .container-home{
        flex-direction: row;
        padding-left: 1rem;
        padding-right: 1rem;
        gap: 2rem;
    }
    .container-presentation{
        gap: 1.5rem;
    }
    .text_title{
        text-align: left;
        font-size: calc(3rem + 1vh);
        line-height: 4rem;
        font-weight: 600;
    }
    .text_description{
        margin-left: auto;
        margin-right: auto;
        max-width: 600px;
        font-size: calc(1.1rem + 1vh);
        line-height: 2.1rem;
        font-weight: 200;
    }
    .img_author{
        max-width: 300px;
        border-radius: 8px;
    }
    .container_img_author .img_author{
        border-radius: 20px;
    }
    
}
@media screen and (min-width:1024px) {
    #home{
        padding-top: 4.5rem
    }
    .container-home{
        flex-direction: row;
        justify-content: space-between;
    }
    .container-presentation{
        padding: 0 2rem 2rem;
        gap: 1rem;
    }
    .text_title{
        font-size: calc(3.6rem + 1vh);
        font-weight: 600;
        line-height: 4rem;
    }
    .text_description{
        font-size: calc(1.25rem + 1vh);
        font-weight: 200;
    }
    .container_img_author {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .container_img_author .img_author{
        width: 100%;
        max-width: 320px;
        border-radius: 20px;
    }
}
