
.container-title-crypto{
    background-color: black;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 5.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.crypto-title{
    color: white;
    text-align: center;
}
.container-coin{
    width: 100%;
    overflow: auto;
}
.container-crypto{
    margin-top: 6rem;
    margin-bottom: 1rem;
}


/*tabla*/
.table-coin{
    width: 100%;
    border-collapse: collapse;
    color: rgba(2, 2, 2, 0.897);
    background-color: white ;
    border-radius: 8px;
    min-width: 700px;
}
img.imagen-coin{
    width: 30px;
    min-height: 30px;
}



/*cabecera de la tabla*/
.table-coin thead{
    background-color: black;
    color: rgba(255, 255, 255, 0.897);
    border-bottom: 4px solid white;
}
.table-coin thead tr th{
    padding: 0.8rem 0.5rem;
    text-align: left;
}
.table-coin thead tr th:nth-child(1){
    width: 50px;
    text-align: center;
}
.table-coin thead tr th:nth-child(2){
    text-align: center;
}

/*cuerpo de la tabla*/
.table-coin tbody tr td{
    padding: 0.5rem;
}

.table-coin tbody tr td:nth-child(1){
    padding: 0.5rem;
    text-align: center;
}
.table-coin tbody tr td:nth-child(2){
    display: flex;
    align-items: center;
    gap: 1rem;
}
/*----*/
.apto{
    color: rgb(0, 255, 0);
}
.no-apto{
    color: red;
}

.input-coin{
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    width: 200px;
}

.table-coin .cero-resultados{
    text-align: left;
}
@media screen and (min-width: 768px) {
    .input-coin{
        width: 300px;
    }
}